<body>
  <h1>Welcome to your Dashboard, {{user.username}}!</h1>
  <h2>Your Posts</h2>
  {{#if user.posts.length}}
    <ul>
      {{#each user.posts}}
        <li><a href="/edit-post/{{id}}">{{title}}</a></li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't made any posts yet.</p>
  {{/if}}
  <h2>Your Comments</h2>
  {{#if user.comments.length}}
    <ul>
      {{#each user.comments}}
        <li><a href="/post/{{Post.id}}">{{Post.title}}</a>: {{content}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't made any comments yet.</p>
  {{/if}}
  <button id="new-post-button">Add New Post</button>
  <script src="/js/newPost.js"></script>
</body>

