<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to your Dashboard, {{user.username}}!</h1>
  <h2>Your Posts</h2>
  {{#if user.posts.length}}
    <ul>
      {{#each user.posts}}
        <li><a href="/post/{{id}}">{{title}}</a></li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't made any posts yet.</p>
  {{/if}}
  <h2>Your Comments</h2>
  {{#if user.comments.length}}
    <ul>
      {{#each user.comments}}
        <li><a href="/post/{{Post.id}}">{{Post.title}}</a>: {{content}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't made any comments yet.</p>
  {{/if}}
</body>
</html>
