{{#each posts}}
  <div class="container">
    <a href="/post/{{id}}" class="remove-blue">
      <div class="post justify-content-center">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.username}} on {{format_date created_at}}</p>
      </div>
    </a>
  </div>
{{/each}}


{{! everyones posts (the landing page) }}